<h1>Posts:</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, posts_path %>
      <% if user_signed_in? %>
        <span class=author>by <%= User.find(post.user_id).username %>さん</span>
      <% end %>
      </li>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>